@use "../../assets/styles/vars/colors";
@use "../../assets/styles/mixins/fontsStyles";
@use "../../assets/styles/mixins/fontsFamilies";

.btn {
	@include fontsStyles.TextMD;
	@include fontsFamilies.MontserratSemiBold;

	display: inline-block;


	border: 1px solid transparent;


	color: colors.$white100;
	background: colors.$red100;

	&:focus, &:active {
		border: 1px solid colors.$black;
	}

	&Medium {
		padding: 0.625em;
		border-radius: .5em ;
	}
	&Large{
		padding: 0.625em 4.0625em;
		border-radius: 0.625em;
	}

	&Disabled {
		opacity: .4;
		cursor: default;
	}
}
