$white100: #ffffff;
$white90: #F2F3F7;

$black: #000000;

$red100: #E30611;
$red90: #E32828;
$red40: #FFADAD64;

$green: #26CD58;

$grey100: #303030;
$grey90: #363F4F;
$grey80: #788399;
$grey70: #626262;
$grey65: #626262BF;
$grey60: #828282;
$grey50: #8E8E8E;
$grey40: #D3D3D3;
$grey30: #D9D9D9;
$grey20: #ECECEC;
$grey10: #BABABAD9;
$grey05: #BABABA66;




